---
import Author, {
  type Props as AuthorProps,
} from "@component/Footer/PostFooter.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import { Settings } from "@config/settings";
import { Image } from "astro:assets";

export interface Props {
  title: string;
  pubDate: string;
  youtube?: string;
  author: AuthorProps | null;
  tags: string[];
  slug?: string;
  legendImage?: Promise<{ default: ImageMetadata }>;
}

const { title, pubDate, youtube, author, tags, legendImage } = Astro.props;

/**
 * @docs: https://day.js.org/docs/en/display/format#list-of-localized-formats
 */
dayjs.extend(localizedFormat);
const parsedDay = dayjs(pubDate).format("LL");
---

<header class="mx-auto max-w-3xl text-center content">
  <h1 class="m-3 leading-normal pb-4">
    {title}
  </h1>
</header>
<article
  class="post max-w-5xl mx-auto p-3 lg:border-2 lg:border-stone-200 lg:rounded-lg"
>
  <!-- Legend Image -->
  {
    legendImage && (
      <Image
        class="rounded-xl mx-auto mb-4 object-contain"
        width={Settings.legendImageSize.width}
        height={Settings.legendImageSize.height}
        sizes={"100%"}
        src={legendImage}
        loading="lazy"
        alt={title}
      />
    )
  }

  <!-- YouTube Video -->
  {
    youtube && (
      <div class="embed-responsive aspect-ratio-16/9">
        <iframe
          width="700"
          height="500"
          class="embed-responsive-item"
          src={`https://www.youtube.com/embed/${youtube}`}
          allow="accelerometer; autoplay; encrypted-media; gyroscope;"
          allowfullscreen
        />
      </div>
    )
  }

  <!-- Content -->
  <section
    class={`${Settings.post.contentWidth} mx-auto py-6 lg:py-4 content px-4`}
  >
    <slot />
  </section>
  <div class="inline-flex align-middle justify-center pb-3 flex-grow-1 w-full">
    <div class="w-full px-2 text-sm">
      Published on <p class="font-semibold">{parsedDay}</p>
    </div>
    <div class="w-full px-2 text-sm text-right truncate">
      Tags
      <p class="capitalize font-semibold truncate">
        {tags.length ? tags.slice(0, 4).join(", ") : tags[0]}
      </p>
    </div>
  </div>
  <!-- Author details -->
  {author && <Author {...author} />}
</article>
