---
import Author, {
  type Props as AuthorProps,
} from '@component/Footer/PostFooter.astro'
import dayjs from 'dayjs'
import localizedFormat from 'dayjs/plugin/localizedFormat'
import { Settings } from '@config/site'
import { Image } from 'astro:assets'

export interface Props {
  title: string
  pubDate: string
  youtube?: string
  author: AuthorProps | null
  tags: string[]
  slug?: string
  legendImage?: Promise<{ default: ImageMetadata }> | string | null
}

const { title, pubDate, youtube, author, tags, legendImage } = Astro.props

/**
 * @docs: https://day.js.org/docs/en/display/format#list-of-localized-formats
 */
dayjs.extend(localizedFormat)
const parsedDay = dayjs(pubDate).format('LL')
---

<header class="content mx-auto max-w-3xl text-center">
  <h1 class="m-3 pb-4 leading-normal">
    {title}
  </h1>
</header>
<article
  class="post mx-auto max-w-5xl p-3 lg:rounded-lg lg:border-2 lg:border-stone-200 dark:lg:border-slate-600"
>
  <!-- Legend Image -->
  {
    legendImage &&
      (typeof legendImage === 'string' ? (
        <img
          class="mx-auto mb-4 rounded-xl object-contain"
          width={Settings.legendImageSize.width}
          height={Settings.legendImageSize.height}
          src={legendImage}
          loading="lazy"
          alt={title}
        />
      ) : (
        <Image
          class="mx-auto mb-4 rounded-xl object-contain"
          width={Settings.legendImageSize.width}
          height={Settings.legendImageSize.height}
          sizes="100%"
          src={legendImage}
          loading="lazy"
          alt={title}
        />
      ))
  }

  <!-- YouTube Video -->
  {
    youtube && (
      <div class="embed-responsive aspect-ratio-16/9">
        <iframe
          width="700"
          height="500"
          class="embed-responsive-item"
          src={`https://www.youtube.com/embed/${youtube}`}
          allow="accelerometer; autoplay; encrypted-media; gyroscope;"
          allowfullscreen
        />
      </div>
    )
  }

  <!-- Content -->
  <section
    class={`${Settings.post.contentWidth} mx-auto py-6 lg:py-4 content px-4`}
  >
    <slot />
  </section>
  <div class="inline-flex w-full flex-grow-1 justify-center pb-3 align-middle">
    <div class="w-full px-2 text-sm">
      Published on
      <time datetime={pubDate} class="block font-semibold">{parsedDay}</time>
    </div>
    <div class="w-full px-2 text-right text-sm">
      Tags
      <p class="flex flex-wrap justify-end gap-2 font-semibold capitalize">
        {
          (tags.length ? tags.slice(0, 4) : [tags[0]]).map(tag => (
            <a
              href={`/topics/${tag.toLowerCase().trim().replace(/\s+/g, '-')}`}
              class="text-sky-600 hover:underline"
            >
              {tag}
            </a>
          ))
        }
      </p>
    </div>
  </div>
  <!-- Author details -->
  {author && <Author {...author} />}
</article>
