---
import dayjs from "dayjs";
import type { Props as BlogPostProps } from "./BlogPost.astro";
import { youtubeImgPreview } from "@config/settings";

export interface Props {
  post: {
    url: string;
    frontmatter: BlogPostProps;
  };
}

/**
 * Set the Card heigth and width here
 */
const width = "360";
const height = "192";

const { post } = Astro.props;

const {
  frontmatter: { hero, youtube },
} = post;

const previewImage = youtube ? youtubeImgPreview(youtube) : hero;
---

<a
  href={post.url}
  class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden"
  data-test="article-card"
>
  <img
    src={previewImage}
    alt={post.frontmatter.title}
    width={width}
    height={height}
  />

  <div class="py-6 px-8">
    <h2 class="font-bold text-xl leading-normal">
      {post.frontmatter.title}
    </h2>
    <p class="text-xs text-gray-600 mt-4 flex items-center">
      {dayjs(post.frontmatter.pubDate).format("MM-DD-YYYY")}
    </p>
  </div>
</a>

<style>
  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
</style>
