---
import dayjs from 'dayjs'
import localizedFormat from 'dayjs/plugin/localizedFormat'
import type { Props as BlogPostProps } from './BlogPost.astro'
import { youtubeImgPreview, Settings } from '@config/settings'
import blogSlugToLegendImageData from '../../layouts/BlogHero'
import { Image } from 'astro:assets'
import type { MarkdownInstance } from 'astro'

export interface Props {
  post: MarkdownInstance<{
    pubDate: Date
    url: string
    frontmatter: BlogPostProps
    file: string
    slug?: string
    youtube?: string
    title?: string
  }>
}

/**
 * Set the Card height and width here
 */
const { width, height } = Settings.indexPage.card

const { post } = Astro.props

const { youtube, pubDate, slug } = post.frontmatter

const postImageGlobFile = blogSlugToLegendImageData(slug)

const image = postImageGlobFile ?  await postImageGlobFile : null

const previewImage = youtube ? youtubeImgPreview(youtube) : image

/**
 * @docs: https://day.js.org/docs/en/display/format#list-of-localized-formats
 */
dayjs.extend(localizedFormat)
const parsedDay = dayjs(pubDate).format('LL')
---

<a
  href={post.url}
  class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden border-solid border border-neutral-200"
  data-test="article-card"
>
  <Image
    class="card-images"
    src={previewImage as string}
    alt={`${post.frontmatter.title} - post preview`}
    width={width}
    height={height}
  />

  <div class="py-6 px-8">
    <h2 class="font-semibold text-xl leading-normal">
      {post.frontmatter.title}
    </h2>
    <p class="text-xs text-gray-600 mt-4 flex items-center">
      {parsedDay}
    </p>
  </div>
</a>
