---
import dayjs from 'dayjs'
import localizedFormat from 'dayjs/plugin/localizedFormat'
import type { Props as BlogPostProps } from './BlogPost.astro'
import { Settings } from '@config/site'
import { youtubeImgPreview } from '@utils/help'
import blogSlugToLegendImageData from '../../layouts/BlogHero'
import { Image } from 'astro:assets'

export interface Props {
  post: {
    pubDate: Date
    url: string
    frontmatter: BlogPostProps
    file: string
    slug?: string
    youtube?: string
    title?: string
  }
}

/**
 * Set the Card height and width here
 */
const { width, height } = Settings.indexPage.card

const { post } = Astro.props

const { youtube, pubDate, slug } = post.frontmatter

const postImageGlobFile = blogSlugToLegendImageData(slug)

const image = postImageGlobFile ? await postImageGlobFile : null

const previewImage = youtube ? youtubeImgPreview(youtube) : image

/**
 * @docs: https://day.js.org/docs/en/display/format#list-of-localized-formats
 */
dayjs.extend(localizedFormat)
const parsedDay = dayjs(pubDate).format('LL')
---

<a
  href={post.url}
  class="hover:border-accent-primary group relative top-0 block h-full overflow-hidden rounded-xl border border-solid border-neutral-200 bg-white shadow-lg transition-all duration-300 ease-in-out hover:-top-2 hover:shadow-xl"
  data-test="article-card"
>
  <Image
    class="card-images transition-transform duration-300 group-hover:scale-105"
    src={previewImage as string}
    alt={`${post.frontmatter.title} - post preview`}
    width={width}
    height={height}
  />

  <div class="px-8 py-6">
    <h2 class="text-xl leading-normal font-normal">
      {post.frontmatter.title}
    </h2>
    <p class="mt-4 flex items-center text-xs text-gray-600">
      {parsedDay}
    </p>
  </div>
</a>
