---

import TopBarNav from '@component/Navigation/TopBar.astro'
import BaseHead from '@component/Head/BaseHead.astro'
import Footer from '@component/Footer/Footer.astro'
import PreviewForm from '@component/Preview/PreviewForm.astro'
import PreviewContent from '@component/Preview/PreviewContent.astro'
import { processPreviewUrl } from '@utils/preview/previewHandler'

export const prerender = false
// Get URL parameters
const urlParam = Astro.url.searchParams.get('url')


const request = Astro.request

// Process preview URL and get result
const previewResult = await processPreviewUrl(urlParam, request)

console.log('previewResult ----->', previewResult)
---

<html lang="en">
  <head>
    <BaseHead
      title={previewResult.postData
        ? previewResult.postData.title
        : 'GitHub Post Preview'}
      description={previewResult.postData
        ? previewResult.postData.description
        : 'Preview posts from GitHub repository'}
      image={previewResult.heroImageUrl}
    />
  </head>

  <body>
    <TopBarNav />

    <main class="py-12">
      <PreviewForm />

      <PreviewContent
        postData={previewResult.postData}
        postContent={previewResult.postContent}
        authorDetails={previewResult.authorDetails}
        heroImageUrl={previewResult.heroImageUrl}
        error={previewResult.error}
      />
    </main>

    <Footer />
  </body>
</html>
