---
import BaseHead from '@component/Head/BaseHead.astro'
import TopNavBar from '@component/Navigation/TopBar.astro'
import HomeHead from '@component/Head/HomeHead.astro'
import Footer from '@component/Footer/Footer.astro'
import SearchInput from '@component/Content/SearchInput.astro'
import { Settings } from '@config/site'

const pageDescription = "Find all the writeup's"
const seoTitle = `Search | ${Settings.site.title}`
const seoDescription = 'search all the articles written on CoderRocks'
---

<html lang="en">
  <head>
    <BaseHead title={seoTitle} description={seoDescription} />
  </head>

  <body class="font-body personality-casual bg-white leading-normal text-black">
    <TopNavBar />
    <main class="py-12">
      <article class="mx-auto max-w-6xl px-3">
        <HomeHead tagline={pageDescription} showLogo={false} />
        <SearchInput />
      </article>
      <Footer />
    </main>
  </body>
</html>
