---
import BaseHead from '@component/Head/BaseHead.astro'
import TopNavBar from '@component/Navigation/TopBar.astro'
import HomeHeader from '@component/Head/HomeHeader.astro'
import Footer from '@component/Footer/Footer.astro'
import SearchInput from '@component/Content/SearchInput.astro'
import { Settings } from '@config/settings'

const pageDescription = "Find all the writeup's"
const seoTitle = `Search | ${Settings.site.title}`
const seoDescription = 'search all the articles written on CoderRocks'
---

<html lang="en">
  <head>
    <BaseHead title={seoTitle} description={seoDescription} />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
    <TopNavBar />
    <main class="py-12">
      <article class="max-w-6xl mx-auto px-3">
        <HomeHeader tagline={pageDescription} showLogo={false} />
        <SearchInput />
      </article>
      <Footer />
    </main>
  </body>
</html>
