---
import TopBarNav from "@Component/Navigation/TopBar.astro";
import BaseHead from "@Component/Head/BaseHead.astro";
import BlogPost from "@Component/Content/BlogPost.astro";
import Footer from "@Component/Footer/Footer.astro";
import { relative, resolve, dirname, basename } from "path";
import { fileURLToPath } from "url";

const { content, file } = Astro.props;

const isProd = import.meta.env.PROD;
const { title, description, pubDate, hero, youtube, author, tags } = content;
const baseProjectDir = process.cwd() + "/";
const heroFilePath = dirname(file).replace(baseProjectDir, "") + "/hero.jpg";
/** Weird bugFix during the build process */
const legend = isProd ? "./" + heroFilePath : heroFilePath;
---

<html lang={content.lang || "en"}>
  <head>
    <BaseHead title={title} description={description} image={hero} />
  </head>

  <body>
    <TopBarNav />
    <main class="py-12">
      <BlogPost
        title={title}
        tags={tags}
        hero={legend}
        pubDate={pubDate}
        youtube={youtube}
        author={author}
      >
        <slot />
      </BlogPost>
    </main>
    <Footer />
  </body>
</html>
